<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- NAVBAR ----------------------------------------------------------------->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'homepage' %}">
                <img class="nav-logo" src="{% static 'images/logo.png' %}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                {% if user and not user.is_anonymous %}
                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-signup navbar-btn" data-toggle="modal" data-target="#signup">
                        Sign Up
                    </button>
                    <button type="button" class="btn btn-login navbar-btn" data-toggle="modal" data-target="#login">
                        Log In
                    </button>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signuplabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="signuplabel">Sign Up For Elleday</h2>
            </div>
            <div class="modal-body">
                <form id="signup" method="post" action="/signup">
                    <input name="user[name]" type="text" placeholder="Type your username here" required="required"
                           class="input">
                    <input name="user[password]" type="password" placeholder="Choose a password" required="required"
                           class="input">
                    <input name="user[password2]" type="password" placeholder="Confirm your password"
                           required="required" class="input">
                    <input name="user[email]" type="email" placeholder="E-mail address" class="input">
                    <input type="submit" value="Sign me up!" class="inputButton">
                </form>
                <hr>
                <div class="text-center">
                    <button class="btn btn-social btn-google text-center">
                        <span class="fa fa-google"></span> <h6 class="social-button">Sign in with Google</h6>
                    </button>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-social btn-facebook text-center">
                        <span class="fa fa-facebook"></span> <h6 class="social-button">Sign in with Facebook</h6>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginlabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="loginlabel">Log In To Elleday</h2>
            </div>
            <div class="modal-body">
                <form id="login" method="post" action="/login">
                    <input name="user[name]" type="text" placeholder="Type your username here" required="required"
                           class="input">
                    <input name="user[password]" type="password" placeholder="Enter your password" required="required"
                           class="input">
                    <input type="submit" value="Log me in!" class="inputButton">
                </form>
                <hr>
                <div class="text-center">
                    <button class="btn btn-social btn-google text-center">
                        <span class="fa fa-google"></span> <h6 class="social-button">Loh in with Google</h6>
                    </button>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-social btn-facebook text-center">
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                            <span class="fa fa-facebook"></span> <h6 class="social-button">Log in with Facebook</h6>
                        </a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}

<!-- FOOTER ----------------------------------------------------------------->
<footer class="container-fluid footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>About</h4>
                <h6>
                    <ul>
                        <li><a href="#">Team & Mission</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </h6>
            </div>
            <div class="col-sm-4">
                <h4>Partner Hub</h4>
                <h6>
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Promote</a></li>
                        <li><a href="#">Track</a></li>
                    </ul>
                </h6>
            </div>
            <div class="col-sm-4">
                <h4>Moderator Hub</h4>
                <h6>
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Apply</a></li>
                        <li><a href="#">Real Elles</a></li>
                    </ul>
                </h6>
            </div>
        </div>
        <br>
        <h6>
            Please do let us know if you have any questions or feedback at: <a href="mailto:hello@elleday.com"
                                                                               class="pink-font">hello@elleday.com</a><br>
            © Elleday 2016. <a href="#">Privacy</a>, <a>terms & conditions apply</a>.
        </h6>
    </div>
</footer>
{% block javascript %}
{% endblock %}
<!-- JAVASCRIPT ----------------------------------------------------------------->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
    <!-- Filter Bar + Button -->
    <script>
        $(document).ready(function () {
            $("#apply-changes").click(function () {
                $("#panel").slideToggle("slow");
            });
        });

        function showInfoForPlace(place_id) {
            place_id = place_id || 0;
            ajaxGet("{% url 'places:get_by_id' %}", {'place_id': place_id}, function (content) {
                //onSuccess
                infoDiv = $("#info-div");
                infoDiv.html(content);
                infoDiv.addClass("in");
            });
        }
    </script>
</body>
</html>